@if (ViewBag.ShowAlert != null && ViewBag.Success)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: 999; position:fixed; top:0px; right:0px; width: 350px;">
        <i class="fas fa-check-circle mr-2"></i> <b>@ViewBag.Message</b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.ShowAlert != null && !ViewBag.Success)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 999; position:fixed; top:0px; right:0px; width: 350px;">
        <i class="fas fa-exclamation-circle mr-2"></i> <b>@ViewBag.Message</b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
