@using GreenPrint.Web.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenPrint.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Loader.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GreenPrint.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GreenPrint.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="basenav col-9">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                @if (!await Context.IsLoggedIn())
                                {
                                    <a class="nav-link text-dark" asp-page="/Login/Login"><i class="fa-solid fa-user-lock"></i> Login</a>
                                }
                                else
                                {
                                    <a class="nav-link text-dark" asp-page="/Login/Logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                                }
                            </li>
                            @if (await Context.AuthenticatedUserIsAdmin())
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-page="/Admin/Dashboard">Admin Panel</a>
                                </li>
                            }
                            <li>
                                <a asp-page="/Furniture/Cart" class="p-0 pt-2 ps-1 nav-link">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span class="badge badge-warning" style="transform: translate(-10px,-10px);">
                                        <span class="badge bg-primary">@await Context.GetCartCount()</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GreenPrint.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <div id="loader" style="display: none;">
        <div class="overlayContainer" id="overlay-container">
            <div class="overlayBackground" id="overlay-background"></div>
            <div class="overlayContent" id="overlay-content">
                <div class="loading">
                    <br>
                    <img class="item-loading" src="~/Images/Loader.gif">
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CustomScripts.js"></script>
    <script src="https://kit.fontawesome.com/b87b53de45.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>